html,body{
    margin: 0;
    height: 100%;
}
.content{
    width: 100%;
    height: 100%;
    display: table;
}

.left,.right,.main{
    display: table-cell;
}
.left,.right{
    width: 200px;
    height: 100%;
    background-color: #a0b3d6;
}
.main{
    width: auto;
    margin: 0 210px;
    background-color: aquamarine;
}


