html,body{
    margin: 0;
    height: 100%;
}
.left,.right{
    width: 200px;
    height: 100%;
    background-color: #a0b3d6;
}
.left{
    float: left;
}
.right{
    float: right;
}
.main{
    margin: 0 210px;
    background-color: aquamarine;
    height: 100%;
}