.wrap {
    overflow: hidden;
    background: #EEE;
}

.wrap-right {
    width: 300px;
    /*position: relative;*/
    float: right;
    margin-left: -300px;
    background: #AAA;
}

.wrap-left {
    width: 100%;
    float: left;
}

.left-con {
    margin-right: 300px;
    background: #DDD;
}

.left-con,
.wrap-right {
    height: 300px;
}