.container {
    position: relative;
    z-index: 1;
}
.container .aside {
    float: left;
    width: 200px;
    min-height: 200px;
    background: red;
}
.container .main {
    overflow: hidden;
    zoom: 1;
    min-height: 200px;
    background: blue;
}